<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Passatempo Eventos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="shortcut icon" type="imagex/png" href="../public/images/logo_icon.ico">
</head>
<body>
    <header class="container-fluid position-fixed top-0 py-3 shadow-sm z-3"> 
        <nav class="row"> 
            <div class="w-100 col-12 d-flex align-items-center">
                <button onclick="toggleMenu()" class="menu-btn d-xl-none ms-3 border-0" type="menu"><img src="../public/images/icone-menu.svg" alt="Abrir barra lateral" width="40"></button>
                <a class="passatempo-logo mx-xl-5 mx-auto" href="../index.html"><img src="../public/images/passatempo_logo.png" alt="Voltar a página inicial"></a> 
                <ul class="nav-links list-unstyled d-xl-flex align-items-center d-none me-lg-auto mb-0">
                    <li class="pe-5"><a class="text-decoration-none" href="./eventos.html">Eventos</a></li>
                    <li class="pe-5"><a class="text-decoration-none" href="./oficinas.html">Oficinas</a></li>
                    <li class="pe-5"><a class="text-decoration-none" href="./saude.html">Saúde e Bem Estar</a></li>
                    <li><a class="text-decoration-none" href="./contatos.html">Contatos</a></li>
                </ul> 
                <a class="d-none d-lg-flex" href="https://instagram.com" target="_blank"><img src="../public/images/icone-instagram.svg" alt="Instagram do Passatempo Educativo" width="40" height="40"></a> 
                <a class="me-4 d-none d-lg-flex" href="https://facebook.com" target="_blank"><img src="../public/images/icone-facebook.svg" alt="Facebook do Passatempo Educativo" width="40" height="40"></a> 
                
                <a class="botao-entrar me-3 d-none d-md-flex" href="#">Entrar</a>
                <a class="botao-doe" href="doe_agora.html">Doe agora</a> 
            </div>
        </nav>
    </header>
    <div onclick="toggleMenu()" class="overlay d-none d-xl-none"></div>
    <main class="main-login">
        <div class="d-flex align-items-stretch d-xl-none">
            <div class="sidebar position-fixed">
                <div class="sidebar-content overflow-y-auto">
                    <ul class="nav-links list-unstyled">
                        <a class="text-decoration-none fs-5" href="./eventos.html"><li class="menu-item">Eventos</li></a>
                        <a class="text-decoration-none fs-5" href="./oficinas.html"><li class="menu-item">Oficinas</li></a>
                        <a class="text-decoration-none fs-5" href="./saude.html"><li class="menu-item">Saúde e Bem Estar</li></a>
                        <a class="text-decoration-none fs-5" href="./contatos.html"><li class="menu-item">Contatos</li></a>
                    </ul> 
                    <div class="menu-item bottom">
                        <div class="d-flex justify-content-center">
                            <a class="botao-entrar me-2" href="#">Entrar</a>                
                            <a class="botao-doe" href="./doe_agora.html">Doe agora</a> 
                        </div>
                        <!--<div class="d-flex justify-content-end me-3">-->
                        <!--    <a href="https://instagram.com" target="_blank"><img src="../public/images/icone-instagram.svg" alt="Icone do Instagram" width="40" height="40"></a> -->
                        <!--    <a href="https://facebook.com" target="_blank"><img src="../public/images/icone-facebook.svg" alt="Icone do Facebook" width="40" height="40"></a>     -->
                        <!--</div>-->
                    </div>
                </div>
            </div>    
        </div>
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="login-container rounded-4 d-flex align-items-center justify-content-center">
                <!--<div class="col-lg-5 d-lg-block d-none">-->
                <!--    <img class="img-fluid" src="../public/images/passatempo_logo.png" alt="Passatempo logo">-->
                <!--    <p class="ms-3">*Login disponível apenas para administradores.</p>-->
                <!--</div> -->
                <div>
                    <h1 class="d-flex justify-content-center mb-5">LOGIN</h1>
                    <form class="px-md-0 px-5 d-flex flex-column">
                        <div class="mb-3">
                            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="E-mail" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Senha" required>
                        </div>
                        <button type="submit" class="botao-login rounded">Entrar</button>
                        <p class="mt-3 text-center">*Login disponível apenas para administradores.</p>
                    </form>
                </div>
            </div>       
        </div>
    </main>
    <!-- Libras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../public/js/frontend.js"></script>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../public/js/frontend.js"></script>
</body>
</html>
