@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body{
    caret-color: transparent;
}
.background-adm{
    background-color: var(--gray-02);
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: auto;
    min-height: 120vh;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 150px;
    background-color: var(--blue-02);
    color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.caixa-branca {
    background-color: white;
    width: 90%;
    min-height: 95vh;
    margin: 0 auto;  
    border-radius: 30px;
}

.adm {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin-top: 20px;
}

.adm img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--blue-01);
}


.sair-button {
    background-color: var(--orange-02);
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-size: larger;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    align-self: center; 
    width: 100%;
}

.sair-button:hover {
    color: var(--yellow-01)
}

.screen-content{
    margin-left: 150px;
}

.screen-content h1 {
    padding-top: 3%;
}

.titulo{
    font-family: "Luckiest Guy", cursive;
    color: var(--orange-02);
    margin-left: 80px;
    
}

.texto-simples{
    font-family: "Ubuntu", sans-serif;
}

.form-label{
    margin-left: 5%;
}

.form-control {
    background-color: rgba(53, 53, 53, 0.15);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 8px;
    resize: none;
    caret-color: auto;
    margin-left: 5%;
}

.form-control::placeholder {
    color: rgba(53, 53, 53, 0.5);
}

.form-control:focus {
    background-color: rgba(53, 53, 53, 0.15);
    border: 2px solid var(--orange-02);
    outline: none;
}

.image-preview {
    width: 250px; 
    height: 125px; 
    background-color: rgba(53, 53, 53, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa; 
    overflow: hidden; 
    position: relative; 
    cursor: pointer;
    margin-left: 5%;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.image-preview .icon {
    font-size: 80px;
    color: #aaa;
    position: absolute;
}

.image-preview:hover {
    border: 2px dashed var(--orange-02);   
}

.image-preview:hover .icon{
    color: var(--orange-02);
}

#image-input {
    display: none; 
}

#descricao{
    max-width: 1300px;
}

#exemplo{
    max-width: 1300px;
}

.cancelar-button{
    background-color: var(--orange-02);
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-size: larger;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    align-self: center; 
    transition: background-color 0.3s;
    border-radius: 10px;
}

.cancelar-button:hover{
    color: var(--yellow-01)
}

.add-button{
    background-color: var(--blue-02);
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-size: larger;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    align-self: center; 
    transition: background-color 0.3s;
    border-radius: 10px;
}

.add-button:hover{
    color: var(--yellow-01)
}

.adm-info {
    display: none; 
    position:absolute;
    top:20px;
    left:110%;
    width: 300px;
    height: 200px;
    background-color: white;
    border: 3px solid var(--blue-02);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    
}
.adm-info p {
    margin-top: 15px;
}

.foto-perfil-button {
    background-color: var(--blue-02);
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-size: larger;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    align-self: center; 
    transition: background-color 0.3s;
    border-radius: 10px;
}

.foto-perfil-button:hover {
    color: var(--yellow-01)
}

.foto-perfil{
    cursor: pointer;
}

.alert-modal-add {
    width: 30%;
    padding: 10px 20px; 
    font-family: "Ubuntu", sans-serif;
    border-radius: 5px; 
    text-align: center;   
}

@media (max-width: 991.98px) {
    .background-adm{
        min-height: 150vh;
    }

    .sidebar{
        width: 100px;
    }

    .adm img {
        width: 70px;
        height: 70px;
    }

    .titulo{
        margin-left: 50px;
    }
    
    .caixa-branca{
        min-height: 125vh;
    }

    .screen-content{
        margin-left: 100px;
    }

    .screen-content h1 {
        padding-top: 5%;
    }

    .form-label{
        margin: 10px;
    }
    
}
