@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body{
    caret-color: transparent;
}
.background-adm{
    background-color: var(--gray-02);
    height: 100%;
    margin: 0;
    padding: 0;
}

.caixa-branca {
    background-color: white;
    width: 90%;
    height: 525px;
    margin: 0 auto;
    
    border-radius: 30px;

}

.sidebar {
    width: 150px;
    background-color: var(--blue-02);
    color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.user {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin-top: 20px;
}

.user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
}


.sair-button {
    background-color: var(--orange-02);
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-size: larger;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    align-self: center; 
    width: 100%;
    transition: background-color 0.3s;
}

.sair-button:hover {
    background-color: var(--blue-01);
}

.screen-content{
    margin-left: 200px;
}

.screen-content h1 {
    padding-top: 5%;
}

.titulo{
    font-family: "Luckiest Guy", cursive;
    color: var(--orange-02)
}

.texto-simples{
    font-family: "Ubuntu", sans-serif;
}

.form-label{
    margin-left: 5%;
}

.form-control {
    background-color: rgba(53, 53, 53, 0.15);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 8px;
    resize: none;
    caret-color: auto;
    margin-left: 5%;
    
}

.form-control::placeholder {
    color: rgba(53, 53, 53, 0.5);
}

.form-control:focus {
    background-color: rgba(53, 53, 53, 0.15);
    border: 2px solid var(--orange-01);
    outline: none;
}

.image-preview {
    width: 250px; 
    height: 150px; 
    background-color: rgba(53, 53, 53, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa; 
    overflow: hidden; 
    position: relative; 
    cursor: pointer;
    margin-left: 5%;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.image-preview .icon {
    font-size: 80px;
    color: #aaa;
    position: absolute;
}

.image-preview:hover {
    border: 2px dashed var(--orange-02);   
}

.image-preview:hover .icon{
    color: var(--orange-02);
}



#image-input {
    display: none; 
}


