@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    caret-color: transparent;
}

form {
    caret-color: auto;
}


.main-login{
    background: url(../images/backgrounds/background-arcoiris.svg);
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    
}

.login-container {
    background-color: white;
    width: 60rem;
    height: 30rem;
}

.login-container div>h1 {
    color: var(--orange-01);
    font-weight: 800;
}

.botao-login {
    background-color: var(--orange-01);
    color: white;
    padding: 7px;
    border: none;
}

.botao-enviar {
    background-color: var(--orange-01);
    color: white;
    border: none;
    font-family: Ubuntu;
    font-weight: 400;
    width: fit-content;
    padding: 5px 15px;
}

.botao-enviar:active {
    background-color: var(--blue-01);
}

.imagem-fundo {
    background-image: url("../images/backgrounds/background-01.svg");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: cover;
    min-height: 100vh;
}

.background-contatos {
    background-image: url("../images/backgrounds/backgroud_contatos.svg");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: auto;
    min-height: 90vh;
}


.caixa {
    background-color: rgba(0, 0, 0, 0.3);
}

.caixa-branca {
    background-color: white;
    width: 85%;
    height: 525px;
    margin: 0 auto;
    border-radius: 30px;
}

.titulo {
    font-family: "Luckiest Guy", cursive;
    font-weight: 500;
    color: white;
}

.texto-padrao {
    font-family: "Ubuntu", sans-serif;
    font-size: large;
    font-weight: 150;
    color: white;
    text-align: justify;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.altura-minima {
    height: 35px;
}

.input-box {
    background-color: rgba(53, 53, 53, 0.15);
    color: var(--gray);
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 95%;
    padding: 8px;
    resize: none;
}

.input-checkbox {
    cursor: pointer;
}

.input-box::placeholder {
    color: rgba(53, 53, 53, 0.5);
    font-family: Ubuntu;
    padding: 2%;
}

.input-box:focus {
    border: 2px solid var(--orange-01);
    outline: none;
}

.mensagem {
    height: 150px !important;

}

.resize-img {
    max-width: 85%;
    height: auto;
}

.logo-contatos {
    max-width: 50%;
    height: auto;
}

.subtitulo {
    font-family: Ubuntu;
    color: white;
}

.titulo-escuro {
    font-family: Ubuntu;
    color: var(--gray);
    font-weight: bold;
}

.texto-escuro {
    font-family: Ubuntu;
    color: var(--gray);
    font-size: medium;
}

form.gap-form{
    gap: 12px;
}


/* Style Doe_Agora */
.background-doe_agora {
    background-image: url("../images/background-02.svg");
    background-repeat: repeat-y;
    background-attachment: scroll; 
    background-size: cover;
    min-height: 100vh;
    padding: 0;
}
.main-doeagora{
    background: url(../images/backgrounds/background-doeagora.svg);
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}
.doe_agora-container {
    background-color: white;
    width: 60rem;
    height: 30rem;
}
.doe_agora-container > p{
    margin: 10px;
}
.doe_agora-font{
    font-family: "Luckiest Guy", cursive;
    font-weight: 500;
}

/* Media Queries */
@media (max-width: 1199.98px) {
    .login-container {
        width: 50rem;
        height: 30rem;
    }

    .doe_agora-container {
        width: 50rem;
        height: 30rem;
    }

    .caixa-branca {
        width: 90%;
        height: auto;
    }
}


@media (max-width: 991.98px) {
    .login-container {
        width: 40rem;
        height: 30rem;
    }

    .doe_agora-container {
        width: 40rem;
        height: 30rem;
    }

    .background-contatos {
        height: 45rem;
        width: auto;
    }
}



@media (max-width: 767.98px) {
    .login-container {
        width: 25rem;
        height: 30rem;
    }

    .quemsomos-container {
        padding: 50px;
    }

    .resize-img {
        max-width: 60%;
        height: auto;
    }

    .doe_agora-container {
        width: 25rem;
        height: 40rem;
    }

    .texto-escuro {
        font-size: 90%;
    }
}
