@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    caret-color: transparent;
}

form {
    caret-color: auto;
}


/*eventos, saude e oficinas*/
.imagem-fundo {
    background-image: url("../images/backgrounds/background-01.svg");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: cover;
    min-height: 100vh;
}

.caixa {
    background-color: rgba(0, 0, 0, 0.3);
}

.titulo {
    font-family: "Luckiest Guy", cursive;
    font-weight: 500;
    color: white;
}

.texto-padrao {
    font-family: "Ubuntu", sans-serif;
    font-size: large;
    font-weight: 150;
    color: white;
    text-align: justify;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.resize-img {
    max-width: 85%;
    height: auto;
}

.subtitulo {
    font-family: Ubuntu;
    color: white;
}


/* Media Queries */
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
    .quemsomos-container {
        padding: 50px;
    }

    .resize-img {
        max-width: 60%;
        height: auto;
    }
}
