:root {
    --yellow-01: #F4DD2B;
    --yellow-02: #D6C124;
    --orange-01: #EB6D0B;
    --orange-02: #DC660A;
    --blue-01: #6787E7;
    --blue-02: #8DA5ED;
    --black-hover: #0000000D;
    --gray: #373535;
    --gray-02: #E7E7E7;
}
