@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

header {
    background-color: var(--yellow-01);
}

.menu-btn {
    background: none;
}

.passatempo-logo img {
    width: 75px;
}

.nav-links li > a {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    color: var(--orange-01);
}

.botao-doe {
    font-family: "Luckiest Guy", cursive;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 12px;
    border: 1px solid var(--orange-01);
    border-radius: 5px;
    color: var(--orange-01);
}

.botao-entrar {
    font-family: "Luckiest Guy", cursive;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--orange-01);
    color: var(--yellow-01);
}

.overlay {
    width: 100vw;
    height: 100vh;
    margin-top: 94.45px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: fixed;
}

main {
    background-color: var(--blue-01);
    margin-top: 94.45px;
}

.sidebar {
    background-color: var(--yellow-01);
    min-width: 250px;
    max-width: 250px;
    border-right: 1px solid var(--yellow-02);
    margin-left: -250px;
    transition: all .3s;
}

.activate {
    margin-left: 0px;
}

.sidebar-content {
    height: 90vh;
}

.menu-item {
    padding: 15px;
    border-bottom: 1px solid var(--yellow-02);
}

.menu-item.bottom {
    background: var(--yellow-01);
    width: 250px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--yellow-02);
}

/* Homepage */
.apresentacao-texto {
    height: 400px;
    background-color: var(--blue-02);
}

.apresentacao-texto h1 {
    font-family: "Luckiest Guy", cursive;
    color: white;
    margin-bottom: 5rem;
}

.apresentacao-texto a {
    padding: 10px 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 13px;
    background-color: var(--orange-01);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.apresentacao-carrosel {
    height: 400px;
    background-color: white;
}

.quemsomos-container{
    padding: 50px 100px;
}

.quemsomos-conteudo{
    color: #ffff;
    font-family: "Ubuntu", sans-serif;
}

.login-container {
    background-color: white;
    width: 60rem;
    height: 30rem;
}

.login-container div > h1 {
    color: var(--orange-01);
    font-weight: 800;
}

.botao-login {
    background-color: var(--orange-01);
    color: white;
    padding: 7px;
    border: none;
}

.background-eventos {
    background-image: url("../images/background-01.svg");
    background-repeat: repeat-y;
    background-attachment: scroll; 
    background-size: cover;
    height: 300vh;
}

.caixa{
    background-color: rgba(0, 0, 0, 0.3);
}

.titulo{
    font-family: "Luckiest Guy", cursive;
    font-weight: 500;
    color: white;
}

.texto-padrao {
    font-family: "Ubuntu", sans-serif;
    font-size:large;
    font-weight: 150;
    color: white;
    text-align: justify;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imagem-fundo{
    background-image: url('../images/image.svg');
    background-repeat: repeat-y;
    background-attachment: scroll; 
    background-size: cover;
    min-height: 100vh;
}

.resize-img{
    max-width: 85%;
    height: auto;
}

.subtitulo{
    font-family: Ubuntu; 
    color: white;
}

/* Media Queries */
@media (max-width: 1199.98px) {
    .login-container {
        width: 50rem;
        height: 30rem;
    }
}

@media (max-width: 991.98px) {
    .login-container {
        width: 40rem;
        height: 30rem;
    }
}

@media (max-width: 767.98px) {
    .login-container {
        width: 25rem;
        height: 30rem;
    }
   
    .resize-img{
        max-width: 60%;
        height: auto;
    }
}
