@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    height: 70px;
    background-color: var(--yellow-01);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: fixed;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

nav a#passatempo-logo {
    margin-left: 70px;
}

nav a#passatempo-logo > img {
    width: 75px;
}

nav ul#links-principal {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li > a {
    text-decoration: none;
    margin: 0px 30px;
    color: var(--orange-01);
}

nav ul li > a:hover {
    border-bottom: 2px solid var(--orange-01);
    cursor: pointer;
}

nav div#nav-direita {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav div#icones-redes {
    margin-right: 50px;
}

nav div a#icone-instagram {
    margin-right: 7px;
}

nav div#botoes-nav {
    margin-right: 50px;
}

nav div a.botao-nav {
    padding: 7px 13px;
    margin: 0px 7px;
    text-decoration: none;
    border-radius: 10px;
}

nav div a#botao-doe {
    background-color: transparent;
    color: var(--orange-01);
    border: 2px solid var(--orange-01);
}

nav div a#botao-doe:hover {
    background-color: var(--orange-01);
    color: var(--yellow-01);
    transition: ease-in-out .2s;
}

nav div a#botao-entrar {
    background-color: var(--orange-01);
    color: var(--yellow-01);
    border: 2px solid var(--orange-01);
}

nav div a#botao-entrar:hover {
    background-color: var(--orange-02);
    border-color: var(--orange-02);
    transition: ease-in-out all .2s;
}

main div {
    width: 100%;
    height: 100vh;
    background-color: var(--blue-01);
}
