.imagem-fundo{
    background-image: url('../images/image.svg');
    background-repeat: repeat-y;
    background-attachment: scroll; 
    background-size: cover;
    min-height: 100vh;
}

.resize-img{
    max-width: 85%;
    height: auto;
}

.subtitulo{
    font-family: Ubuntu; 
    color: white;
}

@media (min-width: 768px){
    .resize-img{
        max-width: 60%;
        height: auto;
    }
}




