.imagem-fundo{
    background-image: url('../images/image.svg');
    background-repeat: repeat-y;
    background-attachment: scroll; 
    background-size: cover;
    height: 300vh;
}

.resize-img{
    max-width: 85%;
    height: auto;
}

@media (min-width: 768px){
    .resize-img{
        max-width: 60%;
        height: auto;
    }
}



